<div class="container">
  <h1 mat-dialog-title>Quên mật khẩu</h1>

  <div mat-dialog-content>
      <form [formGroup]="formControl">

          <div class="form">
              <mat-form-field class="fullWidth" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput type="text" formControlName="username" />
                  <mat-error *ngIf="formControl.controls['username']?.errors?.required">field required</mat-error>
              </mat-form-field>
          </div>
      </form>
  </div>

  <div class="mt-2" mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="!formControl.valid" (click)="save()" cdkFocusInitial>Yes</button>
      <button mat-raised-button mat-dialog-close>No</button>

  </div>
</div>
