<div class="container">
  <h1 mat-dialog-title>Cập nhật tuyến xe</h1>

  <div mat-dialog-content>
    <form [formGroup]="formControl1">
      <div class="form">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>ID</mat-label>
          <input matInput type="text" formControlName="id" [(ngModel)]="data.route.id" readonly>
        </mat-form-field>
      </div>

      <div class="mt-2 form">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Điểm bắt đầu</mat-label>
          <input matInput type="text" formControlName="pointOfDeparture" [(ngModel)]="data.route.pointOfDeparture" />
          <mat-error *ngIf="
          formControl1.controls['pointOfDeparture']?.errors?.required">field required</mat-error>
        </mat-form-field>
      </div>

      <div class="mt-2 form">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Điểm kết thúc</mat-label>
          <input matInput type="text" formControlName="destination" [(ngModel)]="data.route.destination" />
          <mat-error *ngIf="
          formControl1.controls['destination']?.errors?.required">field required</mat-error>
        </mat-form-field>
      </div>

      <div class="mt-2 form">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Độ dài</mat-label>
          <input matInput type="number" formControlName="length" [(ngModel)]="data.route.length" />
          <mat-error *ngIf="
          formControl1.controls['length']?.errors">Độ dài là kiểu số</mat-error>
          <mat-error *ngIf="
          formControl1.controls['length']?.errors?.required">field required</mat-error>
        </mat-form-field>
      </div>

      <div class="mt-2 form">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Độ phức tạp</mat-label>
          <mat-select [(ngModel)]="data.route.complexity" formControlName='complexity'>
            <mat-option *ngFor="let complexity of data.complexity" [value]="complexity.complexity">{{complexity.complexity}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </form>
  </div>

  <div class="mt-2" mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!formControl1.valid" (click)="edit()"
      cdkFocusInitial>Yes</button>
    <button mat-raised-button mat-dialog-close>No</button>

  </div>
</div>
